<div class="gravatar-component center-all">
  <figure>
  <img src={{gravatarUrl}}>
  </figure>
  <div class="email-input">
    {{input type="email" value=email placeholder="Enter your Gravatar e-mail"}}
  </div>
</div>