.nav--arrows {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.nav__button {
  -webkit-appearance: none;
  background: none;
  border: none;
  height: 2rem;
  width: 2rem;
  white-space: nowrap;
  text-indent: 5rem;
  cursor: pointer;
  opacity: .25;

  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
  }
}

.button--previous,
.button--next {
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 65%;
    width: 65%;
    border: 3px solid transparent;
    border-top-color: white;
    border-left-color: white;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.button--previous::after {
  transform: rotate(-45deg);
}

.button--next::after {
  transform: rotate(135deg);
}
