body {
  font-size: 6vmin;
  line-height: 1.25em;
  font-family: "MarkCompPro-Medium", verdana, sans-serif;
  -webkit-font-feature-settings: "onum" 1;
  font-feature-settings: "onum" 1;
}

h1 {
  margin: 0;
  padding: 0 10vmin;
  line-height: 1.25em;
  padding-bottom: .5em;
  font-weight: normal;
}

a {
  color: darkseagreen;
}
